body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.bottom-padding, section, .aboutSyntaxPara {
    padding-bottom: 0px;
}
.top-padding, section, footer, .aboutSyntaxPara, .newsArticles, .formSection, .principalSection .textSection, .blueBgSection .textSection {
    padding-top: 30px;
}
.bottom-padding, section, .aboutSyntaxPara {
    padding-bottom: 80px;
}
.top-padding, section, footer, .aboutSyntaxPara, .newsArticles, .formSection, .principalSection .textSection, .blueBgSection .textSection {
    padding-top: 80px;
}
article, aside, footer, header, nav, section {
    display: block;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheet
section {
    display: block;
    unicode-bidi: isolate;
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        max-width: 100%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
        max-width: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
        max-width: 100%;
    }
}
@media (min-width: 576px) {
    .container {
        width: 540px;
        max-width: 100%;
    }
}
@media (min-width: 1200px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 992px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 768px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 576px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 1200px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width: 992px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width: 768px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
@media (min-width: 576px) {
    .row {
        margin-right: -15px;
        margin-left: -15px;
    }
}
.row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheet
div {
    display: block;
    unicode-bidi: isolate;
}

.why-us {
    background-image: url('../../images/billing_pic.jpg');
}
.why-us {
    /*background: #e2e2e2 ;*/
    background-size: cover !important;
    background-attachment: fixed !important;
    padding: 100px 0px 100px 0px;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
}

.coll{
    color: white;
    position: relative;
    z-index: 1;
    text-align: center;
}

.why-us::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Add shadow to overlay */
}

/*.why-us ::before{*/
/*    z-index: 0;*/
/*    background-color: rgba(0,0,0,0.5);*/
/*}*/

*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

/*@media (min-width: 768px) {*/
/*    .col-md-8 {*/
/*        -webkit-box-flex: 0;*/
/*        -webkit-flex: 0 0 66.666667%;*/
/*        -ms-flex: 0 0 66.666667%;*/
/*        flex: 0 0 66.666667%;*/
/*        max-width: 66.666667%;*/
/*    }*/
/*}*/

.h4, h4 {
    font-size: 1.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    /*font-family: inherit;*/
    font-weight: 500;
    line-height: 1.1;
    /*color: inherit;*/
}

/* section p {
    color: #000;
    font-size: 16px;
} */
@media (min-width: 768px) {
    .col-md-4 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 33.333333%;
        -ms-flex: 0 0 33.333333%;
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}
@media (min-width: 1200px) {
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 992px) {
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 768px) {
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 576px) {
    .col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
        padding-right: 15px;
        padding-left: 15px;
    }
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

/*.key-strategies {*/
/*    padding-top: 100px;*/
/*}*/

.exceptional-wrapper .inner{
    padding-bottom: 0px !important;
}

#pricing{
    padding-top: 0px !important;
}

.revenue{
    min-height: 343px !important;
}

.practice{
    min-height: 390px !important;
}

@media (min-width: 1200px) {
    .container {
        width: 1140px;
        max-width: 100%;
    }
}
@media (min-width: 992px) {
    .container {
        width: 960px;
        max-width: 100%;
    }
}
@media (min-width: 768px) {
    .container {
        width: 720px;
        max-width: 100%;
    }
}
@media (min-width: 576px) {
    .container {
        width: 540px;
        max-width: 100%;
    }
}
@media (min-width: 1200px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 992px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 768px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
@media (min-width: 576px) {
    .container {
        padding-right: 15px;
        padding-left: 15px;
    }
}
.key-strategies-header {
    text-align: center;
}
.key-strategies-text {
    text-align: center;
}
.why-us-list li {
    background: #fff;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0 0 92px rgba(0, 0, 0, 0.1);
}
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
p, li {
    font-size: 16px;
    line-height: 25px;
    word-spacing: 1px;
    /* color: #000; */
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
user agent stylesheet
li {
    display: list-item;
    text-align: -webkit-match-parent;
    unicode-bidi: isolate;
}

.why-us h4, .why-us h3, .why-us .main-paragraph {
    text-align: center;
    /*color: #fff;*/
    margin-bottom: 20px;
}

.aboutPeople .imgSection {
    display: flex
;
    align-items: center;
}

.aboutPeople {
    height: auto !important;
    background: #fff;
    border-radius: 10px;
    padding: 30px 1px 20px 24px;
    box-shadow: 0px 45px 120px rgba(0, 0, 0, 0.07);
}
.aboutPeople {
    margin-bottom: 30px;
}
.aboutPeople {
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 45px 120px rgba(0, 0, 0, 0.07);
}



.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

.aboutPeople .imgSection {
    display: flex
;
    align-items: center;
}


@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
}

.img-css {
    display: block;
    /*margin: 50px auto;*/
    width: 300px;
    animation: bounce 1s ease-in-out infinite;
}


@keyframes slideInRight {
    0% {
        transform: translateX(100%); /* Start off-screen to the right */
        opacity: 0; /* Fully transparent */
    }
    100% {
        transform: translateX(0); /* End at its original position */
        opacity: 1; /* Fully visible */
    }
}

.ani_cycle {
    width: 300px;
    height: auto;
    animation: slideInRight 2s ease-out; /* 2-second slide animation */
}

@keyframes slideInLeft {
    0% {
        transform: translateX(-100%); /* Start off-screen to the left */
        opacity: 0; /* Fully transparent */
    }
    100% {
        transform: translateX(0); /* End at its original position */
        opacity: 1; /* Fully visible */
    }
}

.ani-div {
    width: 300px;
    height: auto;
    animation: slideInLeft 2s ease-out; /* 2-second slide animation */
}

.card-container {
    display: flex;
    justify-content: center;
    perspective: 1000px; /* Enables 3D effect */
    padding: 50px;
}

.card {
    width: 100%;
    height: 300px;
    position: relative;
    transform-style: preserve-3d;
    transform: rotateY(0deg);
    transition: transform 0.6s ease;
    border: none !important;
}

.card:hover {
    transform: rotateY(180deg); /* Flips the card */
}

.card .front,
.card .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    overflow: hidden;

}

.card .front {
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    /*border: 1px solid white;*/
    /*box-shadow: 3px 4px 15px #3FB0CEA6;*/
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 20px;
    color: #007BFF;
    padding: 20px;
    /*border: 1px solid  #0100CA;*/
}



.card .back {
    /*background: #fff;*/
    background: #1E0B9B33;
    /*background: transparent linear-gradient(90deg, #1E0B9B 0%, #07CCEC 100%) 0% 0% no-repeat padding-box;*/
    color: #333;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    /*color: #fff;*/
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg);
    padding: 20px;
}

.card .back p{
    color: #333;
}

.ani-medical {
    display: block;
    margin: 50px auto;
    width: 300px;
    transition: transform 0.5s ease; /* Smooth transition */
}

.ani-medical:hover {
    transform: rotate(360deg); /* Rotate image on hover */
}

.contact-ani {
    display: block;
    margin: 50px auto;
    width: 300px;
    transition: transform 0.5s ease; /* Smooth transition */
}

.contact-ani:hover {
    transform: rotate(360deg); /* Rotate image on hover */
}

.owl-carousel .item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px; /* Adjust height as needed */
    background: #f4f4f4; /* Light background for contrast */
    border: 1px solid #ddd;
    margin: 10px;
}
.owl-carousel .item img {
    max-width: 100%;
    max-height: 100%;
}

.img-set{
    width: 50px;
}

.rotate-img{
    animation: slowRotate 50s linear infinite;
    /*margin-top: 120px;*/
}

/* Keyframes for rotation */
@keyframes slowRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

